.Title {
  font-family: "Zen Tokyo Zoo";
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
@media (max-width: 959px) {
  .Title {
    font-size: 20px;
  }
}

.Link {
  color: white !important;
  margin-left: auto;
}

.Back {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-left: 4em;
  padding: 5px;
}
@media (max-width: 1279px) {
  .Back {
    margin-left: 2em;
  }
}
@media (max-width: 959px) {
  .Back {
    font-size: 14px;
  }
}
@media (max-width: 599px) {
  .Back {
    margin-left: 1em;
  }
}

.Icon {
  margin-right: 5px;
}
@media (max-width: 959px) {
  .Icon {
    font-size: 16px;
  }
}

@media (max-width: 959px) {
  .GithubIcon {
    font-size: 20px;
  }
}
