.Daily {
  width: auto !important;
  flex-wrap: nowrap;
}
@media (max-width: 599px) {
  .Daily {
    margin-bottom: 2em;
  }
}

@media (max-width: 959px) {
  .Icon {
    width: 70px;
  }
}

.Degrees {
  line-height: 1;
}

.Max {
  color: #f44336;
}

.Min {
  color: #90a4ae;
}
